<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scratch Converter Chat</title>
    <!--
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    -->
    <link rel="stylesheet" href="https://code.malte-hinrichs.de/proxy/5000/static/css/style.css">
    <script src="https://code.malte-hinrichs.de/proxy/5000/static/js/main.js" defer></script>
</head>
<body>

    <h1>KI Chat</h1>
    <div id="chat-container"></div>
    <form id="chat-form">
        <input type="text" id="message-input" placeholder="Stelle eine Frage..." autocomplete="off">
        <button id="send-button" type="submit">Senden</button>
    </form>

</body>
</html>